<div class="flexslider">
  <div class="slides">
    <section>
      <div class="profile" id="1">
        <h2 class="animated fadeInDown">Hello, I am <span>Shiva Chaithanya Reddy</span><br>Full Stack and Software Developer</h2>
        <div class="sep1"></div>
        <p class="animated fadeInDown">ABout me</p>
        <p class="animated fadeInDown">ABout me</p>
        <p class="animated fadeInDown">ABout me</p>
        <div class="personal-info col-md-12 no-padding animated flipInX">
          <h4>Personal Info</h4>
          <div class="sep2"></div>
          <ul>
            <li>
              <div class="p-info"><em>First Name</em><span>Shiva Chaithanya Reddy</span></div>
            </li>
            <li>
              <div class="p-info"><em>Last Name</em><span>Bolla</span></div>
            </li>
            <li>
              <div class="p-info"><em>date of birth</em><span>June 07, 1995</span></div>
            </li>
            <li>
              <div class="p-info aboutMe-email"><em>e-mail</em><a href="mailto:shivacbolla@gmail.com"><span>shivacbolla@gmail.com</span></a></div>
            </li>
            <li>
              <div class="p-info"><em>phone</em><a href="tel:+1-980-309-3399"><span>980-309-3399</span></a></div>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </section>
  </div>
</div>
