<!-- SECTION 3 - CV / RESUME -->
<section>
  <div class="item resume">
    <div class="page-head animated fadeInDown">
      <div class="row">
        <div class="col-md-12">
          <h3>Work Experience</h3>

        </div>
      </div>
    </div>

    <div class="resume-info">
      <br>
      <ul>
        <li class="animated slideInLeft">
          <h5>Full Stack Developer Intern- Signode India -- Hyderabad, Telangana   </h5>
          <span class="year"><i class="fa fa-calendar"></i> 2015 - 2016</span>
          <p>•	Designed dynamic and multi-browser compatible pages for managing the inventory (Test Driven &nbsp;&nbsp;Development,
            HTML5, CSS3, jQuery, JavaScript, Spring MVC, Bootstrap, Hibernate, Junit, Apache &nbsp;&nbsp;Tomcat).<br>
            •	Developed interactive graphs using D3.js. <br>
            •	Modified existing software to correct errors, and improve efficiency. <br>
            •	Wrote maintainable and extensible code in a teamed environment (Micro Services)
          </p>
        </li>
        <li class="animated slideInRight">
          <h5>Application Developer Intern - Eicher Motors – Chennai, TamilNadu</h5>
          <span class="year"><i class="fa fa-calendar"></i> 2013 - 2014</span>
          <p>
            •	Built an android application “ReviewMe” for customer satisfactory reviews of delivered products. &nbsp;&nbsp;(Android Studio, Genymotion).
            <br>
            •	Designed class diagrams for Customer Profiles Module and implemented it in a test-driven &nbsp;&nbsp;environment (Java, Junit Testing).
          </p>
        </li>
        <li class="animated slideInRight">
          <h5>Full Stack Developer Intern- RSK Healthcare – Chennai, TamilNadu </h5>
          <span class="year"><i class="fa fa-calendar"></i> 2014 - 2015</span>
          <p>
            •	Worked on a Web Application “Healthgo” for online reservation and managing the doctor appointments. (MongoDB with RSK Database, React, NodeJS, Express Framework, HTML, CSS, CSS3, Bootstrap)
            <br>
            •	Tested and did QA for various modules in the Healthgo App (Test driven development, Jasmine).
            <br>
            •	Supported technical team members in development of functional and visual user interfaces.
            <br>
            •	Worked on integration with AWS Elastic BeanStalk, Simple Storage Service(S3) and RDS.

          </p>
        </li>
        <li class="animated slideInLeft">
          <h5>SRM – Aakash – Chennai, TamilNadu</h5>
          <span class="year"><i class="fa fa-calendar"></i> 2012 - 2014</span>
          <p>
            •	Developed a MEAN application for managing TEDx Events in SRM University using real time data in a test-driven environment. (Full Stack, MongoDB, Express, Angular, NodeJS, HTML, CSS, JavaScript, Bootstrap).
            <br>
            •	Mentored junior developers on Java, JavaScript, and Web Application Development
            <br>
            •	Built an android application and a web portal for conducting exams for students of SRM University on an android powered device. (Real Time Data, Android, Java, HTML, CSS, jQuery, Bootstrap).
            <br>
            •	Integrated data using REST and SOAP APIs.

          </p>
        </li>

      </ul>
    </div>
  </div>
</section>
