
<div class="main-content">
  <div class="container no-padding">
    <div class="row">
      <div class="col-md-3 l-content">
        <div class="profile-pic">
          <div class="pic-bg">
              <img src="../assets/Images/profile-photo.gif" class="img-responsive" alt=""/>
          </div>
        </div>
        <nav>
          <ul class="navigation">
            <li routerLinkActive = 'flex-active'><a [routerLink]="['/aboutme']">Profile <i class="fa fa-user"></i></a></li>
            <li routerLinkActive = 'flex-active'><a [routerLink]= "['/experience']">Experience <i class="fa fa-briefcase"></i></a></li>
            <li routerLinkActive = 'flex-active'><a [routerLink]= "['/education']">Education<i class="fa fa-file-text"></i></a></li>
            <li routerLinkActive = 'flex-active'><a [routerLink]= "['/projects']">Projects <i class="fa fa-comment"></i></a></li>
            <li routerLinkActive = 'flex-active'><a [routerLink]= "['/contact']">Contact <i class="fa fa-envelope"></i></a></li>
          </ul>
        </nav>
      </div>

      <!-- SECTION 1 - HOMEPAGE -->
      <div class="col-md-9 r-content">
          <router-outlet></router-outlet>

        <footer
        >
          <div class="row">
            <div class="col-md-7">
              <p>Download Resume  - <a download href="../assets/Resume/Resume.docx"><i class="fa fa-download downloadResume"></i></a></p>
            </div>
            <div class="col-md-5">
              <ul class="social">
                <li><a href="https://www.linkedin.com/in/shivachaithanyareddybolla/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/ShivaChaithanyaReddy" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><a href="mailto:shivacbolla@gmail.com"><i class="fa fa-envelope"></i></a></li>
                <li><a href="tel:+1-980-309-3399"><i class="fa fa-phone"></i></a></li>
              </ul>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
