
<div class="my-modal-backdrop" [ngStyle]="{'display': display}"></div>
<!-- The Modal -->
<div id="myModal" class="my-modal animated zoomIn" [ngStyle]="{'display':display}">

  <!-- Modal content -->
  <div class="my-modal-content">
    <span class="my-close close"  (click)="onClose()">&times;</span>
    <div class="my-modal-header">
      {{project?.name}}
    </div>
    <div class="my-modal-body">
      <div class="row">
        <div class="col-md-3 col-head">
          Project
        </div>
        <div class="col-md-9">
          {{project?.name}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-head">
          Project aim:
        </div>
        <div class="col-md-9">
          {{project?.aim}}
        </div>
      </div>
      <div class="row project-content">
        <div class="col-md-3 col-head">
          Project Description:
        </div>
        <div class="col-md-9">
          {{project?.content}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-head">
          Project Link:
        </div>
        <div class="col-md-9">
          <a   *ngIf="project?.projectLink" href="{{project?.projectLink}}" target="_blank"> {{project?.name}}</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-head">
          Github Link:
        </div>
        <div class="col-md-9">
          <a href="{{project?.githubLink}}" target="_blank"> {{project?.name}} gitHub source code</a>
        </div>
      </div>
    </div>

  </div>

</div>
